{% extends '@KnpMenu/menu.html.twig' %}


{% block linkElement %}
    <a href="{{ item.uri }}" {% if item.hasChildren %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ item.label|raw }}</a>
{% endblock %}

{% block item %}
    <li {% if matcher.isCurrent(item) %}class="active"{% endif %}>
        {%- if item.uri is not empty %}
            {{ block('linkElement') }}
        {%- endif %}
    </li>
{% endblock %}


{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <ul class="nav navbar-nav">
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}