{% extends '@EduBox/front_layout.html.twig' %}

{% set title = 'Baş sahypa' %}

{% block front_title %}{{  parent() }} / {{ title }}{% endblock %}

{% block front_content %}
    <h3>This is home page!</h3>
{% endblock %}