<div class="col-md-3 col-sm-6">
    <a href="{{ path('edubox_author_show', {'id': author.id}) }}">
        <div class="box box-primary box-solid">
            <!-- /.box-header -->
            <div class="box-body no-padding book-image" style="background-image: url({% if author.image.size is defined %}{% path author.image, 'reference' %}{% else %}{{ asset('uploads/media/author.jpg') }}{% endif %});">
            </div>
            <!-- /.box-body -->
            <div class="box-header">
                <h3 class="box-title">
                    {{ author.fullName }}
                </h3>
            </div>
        </div>
    </a>
</div>